@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

header {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start; 
    padding-left: 20px; 
}

header::before {
    content: "";
    background-image: url("../Frame.png"); 
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
body {
    margin: 0; /* Remove a margem padrão do navegador */
    padding: 0; /* Remove o preenchimento padrão do navegador */
    background-color: #707070; /* Define a cor de fundo do corpo do site para cinza */
}

h1 {
    font-family: "Righteous", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 400;
    margin: 0; 
}

p {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 20px 0 0 0;
}
li {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 21px;
    font-weight: 400;
    margin: 20px 0 0 0;
}

#div-botoes {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
}   
#div-botoes {
    display: grid; /*------- GRID QUE O PROFESSOR PEDIU------------- */
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    padding: 20px; 
}

#div-botoes a {
    text-decoration: none;
    color: #ffffff;
    background-color: #414447;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

#div-botoes a:hover {
    background-color: #616161; 
}


#Guia header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url('assets/images/FundoGuia.png'); 
    background-size: cover; 
    background-position: center; 
    padding: 50px 20px;
    z-index: -1;
}




#fundo-guia {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
     
}

.conteudo-guia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}


h2 {
    margin-top: 20px;
}

ul {
    list-style-position: inside;
}
